body{
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo-Create{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  border: none;
  margin-top: 50px;
  padding: 20px;
}
.todo-Create-İnput{

  width: 100%;
  border:none;
  border-bottom: 2px solid lightgray;
  margin-bottom:15px;
  outline: none;
}
.todo-Create-btn{
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(0, 174, 255);
  color: white;
  padding: 5px 15px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
}
.todo-Create-btn:hover{
  background-color: rgb(4, 128, 185);
  color: white;
  transition: 0.5s;
}
.todo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid lightgray;
  padding: 5px;
}
.todo-child-1{

}
.icons{
  font-size: 25px;
  margin-right: 10px;
}
.icons:hover{
  color: rgb(75, 74, 74);
  transition: 0.6s;
  cursor: pointer;
}